<div class="container-fluid">
  <div class="row">
    <div id="serieslist-info-container" class="alert alert-info table-info col-xs-9" style="display: none;">
      <div id="serieslist-info"></div>
    </div>
    <div class='dynatable-pagination-links-serieslist'></div>
  </div>
</div>

<table class="table table-hover table-condensed pw-list" id="serieslist">
<thead>
  <tr>
    <th data-dynatable-no-sort="true">ID</th>
    <th data-dynatable-no-sort="true">Series</th>
    <th data-dynatable-no-sort="true">Tests</th>
    <th data-dynatable-no-sort="true">Patches</th>
    <th>Submitter</th>
    <th>Reviewer</th>
    <th class="text-nowrap">Updated</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>

<div class="container-fluid">
  <div class="row">
     <div class='dynatable-pagination-links-serieslist'></div>
  </div>
</div>

<div style="clear: both;"></div>
