{% extends "base.html" %}

{% load person %}

{% block title %}{{project.name}}{% endblock %}
{% block headers %}
<script type="text/javascript">
$(function () {
    pw.setup_series({ patches: 'series-patchlist' });
});
</script>
{% endblock %}

{% block body %}
<h1>{{ series.name }}</h1>

<div class="core-info">
  <span>Submitted by {{ series.submitter|personify:project }} on {{ series.submitted }}</span>
</div>

<h2>Details</h2>

<table class="patchmeta">
  <tr>
    <th>Reviewer</th>
{% if series.reviewer %}
    <td>{{ series.reviewer }}</td>
{% else %}
    <td><em class="text-muted">None</em></td>
{% endif %}
  </tr>
  <tr>
    <th>Submitted</th>
    <td>{{ series.submitted }}</td>
  </tr>
  <tr>
    <th>Last Updated</th>
    <td>{{ series.last_updated }}</td>
  </tr>
  <tr>
    <th>Revision</th>
    <td>{{ series.last_revision.version }}</td>
  </tr>
</table>

{% if cover_letter %}
<h2>Cover Letter</h2>

<div class="comment">
  <pre class="content">
{{ cover_letter }}
  </pre>
</div>

{% endif %}

<h2>Revisions</h2>

<div>

  <ul class="nav nav-pills small-pills" data-tabs="tabs" role="tablist">
{% for revision in revisions %}
    <li role="presentation"{% if forloop.last %} class="active"{%endif%}>
      <a data-toggle="pill" href="#rev{{ revision.version }}">rev {{ revision.version }}</a>
    </li>
{% endfor %}
  </ul>

  <div class="tab-content">
{% for revision in revisions %}
    <div role="tabpanel" id="rev{{ revision.version }}"
         class="tab-pane fade{% if forloop.last %} in active{% endif %}">

    <h3>Patches <a href="{% url 'seriesrevision-mbox' series.pk revision.version %}" >download mbox</a></h3>

      <div class="well transparent">
        <table class="table table-hover table-condensed pw-list" id="series-patchlist">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Submitter</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
        {% for patch in revision.patch_list %}
            <tr>
              <td></td>
              <td><a href="{% url 'patchwork.views.patch.patch' patch_id=patch.id %}"
                >{{ patch.name|default:"[no subject]"|truncatechars:100 }}</a></td>
              <td>{{ patch.submitter|personify:project }}</td>
              <td>{{ patch.state }}</td>
            <tr>
        {% endfor %}
          </tbody>
        </table>
      </div>

    {% if revision.test_results %}
    <h3>Tests</h3>

    <div class="well transparent">
      <div class="panel-group" id="test-accordion" role="tablist" aria-multiselectable="true">
        {% for test_result in revision.test_results %}
        {% include "patchwork/test-result.html" %}
        {% endfor %}
      </div>
    </div>

    {% endif %}

    </div>
{% endfor %}
  </div>

</div>

{% endblock %}
