{% extends "base.html" %}

{% load staticfiles %}
{% load person %}

{% block title %}{{project.name}}{% endblock %}
{% block headers %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datepicker3.min.css" %}"/>
  <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/series-list.js" %}"></script>
{% endblock %}
{% block series_active %}active{% endblock %}

{% block body %}
<h1>Series</h1>

<nav class="navbar navbar-default toolbar" role="navigation">
 <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#series-toolbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="series-toolbar">
    <ul class="nav navbar-nav" id="filters">
      <li>
        <p class="navbar-text">Filter by:</p>
      </li>
      <li class="dropdown" id="date-filter">
        <a data-toggle="dropdown" href="#" id="date-filter-dropdown">
          <button id="clear-date-filter" class="btn btn-default btn-xs" title="Clear date filter" style="display:none;">
             <span class="glyphicon glyphicon-remove"></span>
          </button>
          Date
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu">
          <li>
           <form id="date-form">
            <div class="form-group">
             <label for="date-from">Updated from</label>
             <div class="input-group date">
              <input type="text" class="form-control" id="date-from">
              <span class="input-group-addon">
               <i class="glyphicon glyphicon-th"></i>
              </span>
             </div>
            </div>
            <div class="form-group">
             <label for="date-to">To</label>
             <div class="input-group date">
              <input type="text" class="form-control" id="date-to">
              <span class="input-group-addon">
               <i class="glyphicon glyphicon-th"></i>
              </span>
             </div>
            </div>
            <div>
             <button type="submit" class="btn btn-default apply-filter">Apply</button>
             <button class="btn btn-link" style="display:none;">Clear date filter</button>
            </div>
           </form>
          </li>
        </ul>
      </li>
      <li class="dropdown" id="submitter-filter">
        <a data-toggle="dropdown" href='#' id="submitter-filter-dropdown">
          <button id="clear-submitter-filter" class="btn btn-default btn-xs" title="Clear submitter filter" style="display:none;">
             <span class="glyphicon glyphicon-remove"></span>
          </button>
          Submitter
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu">
           <li><span>Show series:</span></li>
           <li>
            <form id="submitter-form">
             <div class="radio">
               <label>
                 <input id="submitter-me" type="radio" value="me" name="submitter-options">
                 Submitted by me
               </label>
             </div>
             <div class="radio">
               <label>
                 <input id="submitter-by" type="radio" value="by" name="submitter-options">
                 Submitted by
               </label>
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="submitter-search" placeholder="Find submitter">
             </div>
             <button type="submit" class="btn btn-default apply-filter">Apply</button>
             <button class="btn btn-link" style="display:none;">Clear submitter filter</button>
           </form>
          </li>
         </ul>
      </li>
    </ul>
  </div>
 </div>
</nav>

{% include "patchwork/series-list-table.html" %}

{% endblock %}
